<!DOCTYPE html>
<html>
	<head>
		<!--Import Google Icon Font-->
		<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<!--Import materialize.css-->
		<link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
		<link type="text/css" rel="stylesheet" href="css/styles.css"  media="screen,projection"/>

		<!--Let browser know website is optimized for mobile-->
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

		<script id="image-template" type="text/x-handlebars-template">
		{{{{raw}}}}
		{{#each images}}
			<div class="card">
				<div class="card-image">
					<img class="responsive-img" src="{{path}}" data-card-img="true">
					<span class="card-title">Card Title</span>
				</div>
				<div class="card-content">
					<p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
				</div>
				<div class="card-action">
					<a href="{{path}}" download="{{path}}">Download</a>
				</div>
			</div>
		{{/each}}
		{{{{/raw}}}}
		</script>
	</head>

	<body class="teal lighten-5">
		<div class="row">
			<div class="col s12" data-image="true">
				
			</div>
		</div>

		<div class="fixed-action-btn hide" data-btn-load="true">
			<div class="preloader-wrapper active">
				<div class="spinner-layer spinner-red-only">
					<div class="circle-clipper left">
						<div class="circle"></div>
					</div>
					<div class="gap-patch">
						<div class="circle"></div>
					</div>
					<div class="circle-clipper right">
						<div class="circle"></div>
					</div>
				</div>
			</div>
		</div>

		<div class="overlay-settings" data-overlay-settings="true"></div>

		<div class="fixed-action-btn menu-bottom" data-btn-action="true">
			<a class="btn-floating btn-large orange darken-4 open-settings">
				<i class="large material-icons settings">settings</i>
				<i class="large material-icons clear">clear</i>
			</a>
		</div>

		<div class="fixed-action-btn menu-settings" data-btn-action="true">
			<a class="btn-floating btn-large orange darken-4 btn-top btn-settings btn-take" data-take="true">
				<i class="large material-icons take">visibility</i>
			</a>
			<a class="btn-floating btn-large orange darken-4 btn-top btn-settings btn-search">
				<i class="large material-icons search">search</i>
			</a>
			<a class="btn-floating btn-large orange darken-4 btn-top btn-settings btn-advanced">
				<i class="large material-icons advanced">build</i>
			</a>
		</div>

		<script>
			var images = {{toJSON images}};
			var service = '{{service}}';
		</script>
		<!--Import jQuery before materialize.js-->
		<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
		<script type="text/javascript" src="/js/materialize.min.js"></script>
		<script type="text/javascript" src="/js/scripts.js"></script>
	</body>
</html>