html,
body {
	width: 100%;
	height: 100%;
}

@keyframes loadHide {
  0%{ opacity: 1; transform: rotate(0deg); }
  100%{ opacity: 0; transform: rotate(360deg); }
}

.fixed-action-btn {
    left: 50%;
    transform: translate(-50%, -50%);
    bottom: 20px;
    display: inline-block;
    width: 55px;
}

.fixed-action-btn.menu-settings {
	z-index: 2;
    bottom: 20px;
    width: 80%;
    height: 30%;
    max-width: 300px;
    max-height: 175px;
}

.fixed-action-btn .btn-settings {
	display: none;
	position: absolute;
	left: 50%;
	z-index: 2;
}

.fixed-action-btn .btn-settings .material-icons {
	background: #fff;
	color: #42A5F5;
}

.show-setting .fixed-action-btn .btn-settings,
.hide-setting .fixed-action-btn .btn-settings {
	display: block;
}

.hide-setting .menu-bottom .settings { display: block; }
.hide-setting .menu-bottom .clear { display: none; }

.show-setting .menu-bottom .settings { display: none; }
.show-setting .menu-bottom .clear { display: block; }

/*.show-setting .menu-bottom {
	bottom: 55px;
	height: 35px;
	width: 35px;
	line-height: 35px;
}
.show-setting .menu-bottom .btn-floating,
.show-setting .menu-bottom .btn-floating .material-icons {
	height: 35px;
	width: 35px;
	line-height: 35px;
}*/

.menu-bottom .btn-floating {
	/* transition-property: none; */
}

.fixed-action-btn.load .btn-floating.btn-large {
	box-shadow: none;
	opacity: 1;
	animation: loadHide 0.5s ease-out forwards;
}

@keyframes btnInOpenSettingsAnimate {
  0%   { transform: scale(0.3) translate(-50%, 0px); top: 100%; }
  100% { transform: scale(1) translate(-50%, 0px); top: 20%; }
}

@keyframes btnOffOpenSettingsAnimate {
  0% { transform: scale(1) translate(-50%, 0px); top: 20%; }
  100%   { transform: scale(0.3) translate(-50%, 0px); top: 100%; }
}
.show-setting .fixed-action-btn .open-settings { animation: btnInOpenSettingsAnimate .25s ease-in-out forwards; transform: scale(1) translate(-50%, 0px); top: 20%; box-shadow: 0 0px 3px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15); }
.hide-setting .fixed-action-btn .open-settings { animation: btnOffOpenSettingsAnimate .25s ease-in-out forwards; transform: scale(0.3) translate(-50%, 0px); top: 100%; }

.show-setting .fixed-action-btn .open-settings { box-shadow: 0 0px 3px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15); }
.show-setting .fixed-action-btn .open-settings .material-icons { background: #fff !important; color: #42A5F5 !important;}

.fixed-action-btn .btn-settings.btn-take {
	position: absolute;
	left: 50%;
	top: 20%;
	transform: translate(-50%, 0px);
    transform-origin: top left;
}
@keyframes btnInTakeAnimate {
  0%   { transform: scale(0.3) translate(-50%, 0px); top: 100%; }
  100% { transform: scale(1) translate(-50%, 0px); top: 20%; }
}

@keyframes btnOffTakeAnimate {
  0% { transform: scale(1) translate(-50%, 0px); top: 20%; }
  100%   { transform: scale(0.3) translate(-50%, 0px); top: 100%; }
}
.show-setting .fixed-action-btn .btn-settings.btn-take { animation: btnInTakeAnimate .25s ease-in-out forwards; transform: scale(1) translate(-50%, 0px); top: 20%; }
.hide-setting .fixed-action-btn .btn-settings.btn-take { animation: btnOffTakeAnimate .25s ease-in-out forwards; transform: scale(0.3) translate(-50%, 0px); top: 100%; }

.fixed-action-btn .btn-settings.btn-search {
	position: absolute;
	left: 15%;
	top: 80%;
	transform: translate(-50%, 0px);
    transform-origin: top left;
}

@keyframes btnInSearchAnimate {
  0%   { transform: scale(0.3) translate(-50%, 0px); left: 50%; top: 100%; }
  100% { transform: scale(1) translate(-50%, 0px); left: 15%; top: 80%; }
}

@keyframes btnOffSearchAnimate {
  0% { transform: scale(1) translate(-50%, 0px); left: 15%; top: 80%; }
  100%   { transform: scale(0.3) translate(-50%, 0px); left: 50%; top: 100%; }
}
.show-setting .fixed-action-btn .btn-settings.btn-search { animation: btnInSearchAnimate .25s ease-in-out forwards; transform: scale(1) translate(-50%, 0px); left: 15%; top: 80%; }
.hide-setting .fixed-action-btn .btn-settings.btn-search { animation: btnOffSearchAnimate .25s ease-in-out forwards; transform: scale(0.3) translate(-50%, 0px); left: 50%; top: 100%; }

.fixed-action-btn .btn-settings.btn-advanced {
	position: absolute;
	left: 85%;
	top: 80%;
	transform: translate(-50%, 0px);
    transform-origin: top left;
}
@keyframes btnInAdvancedAnimate {
  0%   { transform: scale(0.3) translate(-50%, 0px); left: 50%; top: 100%; }
  100% { transform: scale(1) translate(-50%, 0px); left: 85%; top: 80%; }
}

@keyframes btnOffAdvancedAnimate {
  0% { transform: scale(1) translate(-50%, 0px); left: 85%; top: 80%; }
  100%   { transform: scale(0.3) translate(-50%, 0px); left: 50%; top: 100%; }
}
.show-setting .fixed-action-btn .btn-settings.btn-advanced { animation: btnInAdvancedAnimate .25s ease-in-out forwards; transform: scale(1) translate(-50%, 0px); left: 85%; top: 80%; }
.hide-setting .fixed-action-btn .btn-settings.btn-advanced { animation: btnOffAdvancedAnimate .25s ease-in-out forwards; transform: scale(0.3) translate(-50%, 0px); left: 50%; top: 100%; }

.fixed-action-btn .btn-top,
.fixed-action-btn .btn-top .material-icons {
	line-height: 50px;
	height: 50px;
	width: 50px;
}

@keyframes loadDone {
	0%{ opacity: 0; transform: rotate(-360deg); }
	100%{ opacity: 1; transform: rotate(0deg); }
}

.fixed-action-btn.done .btn-floating.btn-large {
	opacity: 1;
	animation: loadDone 0.5s ease-out forwards;
}

[data-btn-load=true] {
    right: 23px;
    bottom: 17px;
}

[data-btn-load=true] .preloader-wrapper {
    width: 55px;
    height: 55px;
}

@keyframes fadeInOverlay {
  0%   { opacity: 0; top: 0px; }
  100% { opacity: 1; top: -50%; }
}

@keyframes fadeOffOverlay {
  0%   { left: 0px; opacity: 1; top: -50%; }
  100% { left: 0px; opacity: 0; top: 0px; }
}

.overlay-settings {
	display: none;
	position: fixed;
	background: #42A5F5;
	z-index: 2;
    width: 100%;
    height: 150%;
    top: 0px;
}

.hide-setting .overlay-settings {
	display: block;
    left: -100%;
    opacity: 0;
    top: 0px;
    animation: fadeOffOverlay .25s ease-in-out;
}

.show-setting .overlay-settings {
	display: block;
    left: 0px;
    opacity: 1;
    top: -50%;
    animation: fadeInOverlay .25s ease-in-out;
}
